<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing Example">
    <test name="Regression">
        <classes>
            <class name="TestCasesWeb.BadSSL"/>
            <class name="TestCasesWeb.FirstTestClass"/>
            <class name="TestCasesWeb.HandleSVG"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->